/* FONTS */
@font-face {
    font-family: "Roobert";
    src: url("../resources/fonts/Roobert/RoobertTRIAL-Regular.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Roobert";
    src: url("../resources/fonts/Roobert/RoobertTRIAL-Medium.woff2")
      format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Roobert";
    src: url("../resources/fonts/Roobert/RoobertTRIAL-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Roobert";
    src: url("../resources/fonts/Roobert/RoobertTRIAL-Italic.woff2")
      format("woff2");
    font-weight: normal;
    font-style: italic;
  }

  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@500&display=swap");


  /* ANIMATION FOR TITLES */
  @keyframes riseFromGround {
    0% {
      opacity: 0;
      transform: translateY(150%);
    }

    20% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-rise {
    animation: riseFromGround 1s ease-in-out forwards;
  }

  /* ANIMATION FADE IN UP FOR REST OF CONTENT */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 1.6s ease-out forwards;
  }



  /* Suaviza la transición de los elementos */
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }

  /* Projects scroll */

  @keyframes appear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-card {
    opacity: 0;
    transform: translateY(30px);
    animation: appear 0.7s ease-out forwards;
    animation-play-state: paused;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}



html {
  scroll-behavior: smooth;
}
